/* MaterialManagementPage.module.css */
.container {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 190px);
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.title {
  font-size: 1.8rem;
  color: #2B3674;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.dashboard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.card {
  background-color: #F4F7FE;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  width: 200px;
}

.card h3 {
  font-size: 1.2rem;
  color: #2D3748;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 2rem;
  color: #5687F2;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  color: #2B3674;
  margin-bottom: 1rem;
  font-weight: bold;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 2rem;
}

.table th {
  background-color: #F4F7FE;
  color: #2D3748;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #E2E8F0;
  font-weight: 600;
}

.table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #E2E8F0;
  font-size: 0.9rem;
}

.table tr:last-child td {
  border-bottom: none;
}

.orderButton {
  background-color: #5687F2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.orderButton:hover {
  background-color: #4176E0;
}