.mashingProcessForm {
margin: inherit;
grid-template-columns: repeat(4, 1fr);
padding: 5px;
align-items: center;
justify-content: center;
position: relative; /* 부모 기준점 */  
}


.mGridItem {
display: flex;
justify-content: column;
align-items: center;
padding: 5px;
height: 100%; /* 높이를 동일하게 설정 */
}

.mashingTitle {
    text-align: left; /* 텍스트 우측 정렬 */
    margin-bottom: 40px;
    margin-left: 30px;
}

.mFormGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap : 20px;
    align-items: center; 
    justify-content: center;
  }

.mLabel01 {
    width: 80px !important; /* 너비 통일 */   
}

.mLabel02{
    width: 100px !important; /* 너비 통일 */
}

.mLabel03{
    width: 70px !important; /* 너비 통일 */
}

.mLabel04{
    width: 50px !important; /* 너비 통일 */
}

.mLabel05{
    width: 70px !important; /* 너비 통일 */
}
.mLabel051{
    width: 50px !important; /* 너비 통일 */
}

.mLabel06, .mLabel07, .mLabel08{
    width: 70px !important; /* 너비 통일 */
}

.mItem01, .mItem02, .mItem03, .mItem04, .mItem05, .mItem06, .mItem07, .mItem08{
    width: 80px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mItem01{width: 160px !important;}
.mItem08{width: 300px !important;}

.mItem05Container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 버튼 스타일 */
.mSaveButton {
    background-color:  #9370db;;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.mSaveButton:hover {
    background-color: #7b68ee;
}

.mSaveButton{
    position: absolute;
    bottom: 50px; /* 폼 아래로 이동 */
    right: 150px; 
    width: 120px;
    padding: 12px 20px;
}

.mTimerDisplay {
    font-size: 18px;
    font-weight: bold;
    color: #d9534f;
    margin-top: 10px;
}


.mashingProcessTableThead {
    display: none;
}