.material-grinding-form {
    max-width: 200px;
    margin: inherit;
    padding: 5px;   
  }
  
  .grinding-title {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  .grinding-group {
    display: flex;
    flex-direction: column;
  }
  
  .grinding-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .grinding-group input,
  .grinding-group select {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px; /* 글자 크기 증가 */
    height: 40px; /* 높이 증가 */
  }
  
  .timer-display {
    grid-column: span 2;
    text-align: center;
  }
  
  .timer {
    font-size: 18px;
    font-weight: bold;
    color: #d9534f;
  }
  
  .full-width {
    grid-column: span 2;
  }
  

  /* 등록하기 버튼 (연한 보라색) */
.grinding-save-button {
    background-color: #9370db; /* 보라색 */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .grinding-save-button:hover {
    background-color: #7b68ee; /* 조금 더 진한 보라 */
  }
  
  /* 다음 공정으로 이동 버튼 (연한 녹색) */
  .next-process-button {
    background-color: #32cd32; /* 연한 녹색 */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .next-process-button:hover {
    background-color: #2e8b57; /* 조금 더 진한 녹색 */
  }
  