/* Main Container */
.boardMainContainer {
    background-color: #F4F7FE;
    /* 배경색 추가 */
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    padding: 0;
}

/* Table Container */
.boardTableContainer {
    height: calc(90% - 35px);
    overflow: auto;
    margin-top: 0px;
}

/* Table Style */
.boardTable {
    width: 100%;
    border-collapse: collapse;
}

/* Table Header */
.tableHeader {
    padding: 10px;
    background-color: #63B3ED;
}

.tableHeader th {
    padding: 14px;
    text-align: center;
    border-bottom: 2px solid #bbb;
    color: white;
    font-weight: normal;
}

/* Table Body */
.boardTable td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: #333;
}

/* First Row Top Border Removal */
.boardTable tr:first-child td {
    border-top: none;
}

/* No Left/Right Border on First and Last Column */
.boardTable th:first-child,
.boardTable td:first-child {
    border-left: none;
}

.boardTable th:last-child,
.boardTable td:last-child {
    border-right: none;
}

.boardTable th:nth-child(1),
.boardTable td:nth-child(1) {
    width: 50px;
}

.boardTable th:nth-child(2),
.boardTable td:nth-child(2) {
    width: 300px;
}

.boardTable th:nth-child(3),
.boardTable td:nth-child(3) {
    width: 100px;
}

.boardTable th:nth-child(4),
.boardTable td:nth-child(4) {
    width: 100px;
}

/* Category Tag */
.importantTag {
    background-color: #ff6b6b;
    padding: 2px 6px;
    color: white;
    border-radius: 4px;
}

.noticeTag {
    background-color: #007bff;
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
}

/* Pagination */
.pagination {
    margin-top: 0;
    text-align: center;
    padding: 10px;
    border: none;
}

.pagination button {
    margin: 5px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.pagination button:hover {
    transform: translateY(-2px);
}

.pagination button:disabled {
    color: #666;
    cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 768px) {
    .boardMainContainer {
        padding: 1rem;
    }

    .boardTable th,
    .boardTable td {
        padding: 10px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .boardMainContainer {
        padding: 0.5rem;
    }

    .boardTable td {
        padding: 5px;
    }
}