.workplace-table-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.workplace-table {
  width: 95%;
  border-collapse: collapse;
}

.workplace-table th, .workplace-table td {
  padding: 1px;
  border-bottom: 1px solid #ddd;
}

.workplace-edit-btn {
  background-color: #28a745;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.workplace-delete-btn {
  background-color: #dc3545;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.place-edit-form-container {
  display: flex; /* 만약 'display: none;'이라면 수정 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.place-edit-form {
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  height: 60%;
  text-align: left;
  line-height: 1.8;
  border: 1px solid #ccc; /* 연한 회색 테두리 */
}

.place-edit-row {
  display: flex;
  align-items: center; /* 레이블과 입력 필드를 수직으로 정렬 */
  
}

.place-edit-field {
  display: flex;
  flex-direction: column; /* 기본적으로 세로 정렬 */
  flex: 0.5; /* 각 요소가 균등한 너비를 가짐 */
}

 

.place-update-btn {
  background: blue;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}


.place-cancel-btn {
  background: red;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}

/*작업장이름*/
#workplaceName{ 
  border-radius: 10px;
  margin: 10px;
  width: 40%;
  height: 35px;
  border: 1px solid #ccc; 
  
}
/*작업장코드*/
#workplaceCode{
  border-radius: 10px;
  margin: 10px;
  width: 30%;
  height: 35px;
  border: 1px solid #ccc; 
}
/*작업장 위치*/
#workplaceLocation{
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  height: 35px;
  border: 1px solid #ccc; 
}
/* 작업장 타입 */
#workplaceType{
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  height: 35px;
  border: 1px solid #ccc; 
}
/* 작업장 상태태 */
#workplaceStatus{
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  height: 35px;
  border: 1px solid #ccc; 
  
}
/* 라인정보보 */
#lineId{
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  height: 35px;
  border: 1px solid #ccc; 
}
/* 작업담당자자 */
#managerName{
  border-radius: 10px;
  margin: 10px;
  width: 40%;
  height: 35px;
  border: 1px solid #ccc; 
}
/* 생산 가능용량량 */
#workplaceCapacity{
  border-radius: 10px;
  margin: 10px;
  width: 25%;
  height: 35px;
  border: 1px solid #ccc; 
}
/* 리터/킬로그램 선택바 */
#workplaceCapacityUnit{
  border-radius: 10px;
  margin: 0px;
  width: 15%;
  height: 35px;
  border: 1px solid #ccc; 
}

.place-capacity-container {
  display: flex;
  align-items: center;  /* 수직 정렬 */
}
