.workplace-form-container {
  position: relative;
  display: flex;
  flex-direction: column;  /* 요소들을 세로로 정렬 */
  align-items: flex-start; /* 기본적으로 왼쪽 정렬 */
  position: relative;
    width: 100%; /* 부모 요소 크기 지정 */
    min-height: 100px; /* 부모 요소의 높이를 최소한으로 확보 */
}

.workplace-form {
  position: relative;
}

.workplace-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.workplace-input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.workplace-input {
  flex: 0 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.workplace-button {
  width: 10%;
  background-color: #007bff;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: auto;
  display: block;
  top: 47px;
  right: -227px;
  position: absolute;
}

.workplace-input-group {
  display: flex;
  align-items: center; /* 요소 수직 정렬 */
  gap: 15px; /* 요소 간 간격 */
}


.line-info {
  margin-left: 30px; /* 드롭다운을 오른쪽으로 이동 */
}

.workplace-select-line-info {
  margin-left: -5px;  /* 왼쪽 정렬 */
}


.workplace-select {

  width: 150px; /* Adjust the width as needed */
  height: 35px; /* Adjust the height as needed */
  font-size: 15px; /* Adjust the font size as needed */
  border: 1px solid #ccc;
  border-radius: 20px; /* 둥글게 만들기 */
  text-align: center;
}

#CapacityUnit{
  width: 70px !important;
 
}
  