.workplace-table-container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.workplace-table {
  width: 95%;
  border-collapse: collapse;
}

.workplace-table th, .workplace-table td {
  padding: 1px;
  border-bottom: 1px solid #ddd;
}

.workplace-edit-btn {
  background-color: #28a745;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.workplace-delete-btn {
  background-color: #dc3545;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

table { 
  margin-top: 50px;
  margin-left: 0px;
}

/* th:nth-child(3), td:nth-child(3) {
  width: 100px;
}

th:nth-child(4), td:nth-child(4) {
  width: 110px;
}

th:nth-child(5), td:nth-child(5) {
  width: 105px;
}

th:nth-child(8), td:nth-child(8) {
  width: 140px;
} */