.mainBar {
    border: none;
    background-color: white;
    width: 1430px;
    height: 745px;
    margin-left: 65px;
    margin-top: 40px;
    border-radius: 20px;
    padding-top: 45px;
    overflow: auto;
    /* 내용이 넘칠 경우 자동으로 스크롤바 표시 */
}


/* 메인 테이블 */
.workTable {
    width: 80%;
    height: 15%;
    margin-left: 135px;
    border-spacing: 0;
    border-collapse: collapse;
}

.workTable th,
.workTable td {
    border: 1px solid #000;
    text-align: center;
}

.workTable th {
    background-color: #D9D9D9;
}

.workTable th:nth-child(1),
.workTable td:nth-child(1) {
    width: 100px;
}

.workTable th:nth-child(2),
.workTable td:nth-child(2) {
    width: 100px;
}

.workTable th:nth-child(3),
.workTable td:nth-child(3) {
    width: 100px;
}

.workTable th:nth-child(4),
.workTable td:nth-child(4) {
    width: 100px;
}

.tableName {
    margin-left: 135px;
    margin-top: -20px;
}

/* BOM쪽  */

.bomCreateButton {
    float: right;
    margin-top: 30px;
    margin-right: 150px;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: background-color 0.3sease, transform 0.2sease;
}

.bomCreateButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* 클릭 시 효과 */
.bomCreateButton:active {
    background-color: #3e8e41;
    transform: scale(0.95);
}


.bomTable {
    border: 1px solid;
    margin-left: 132px;
    width: 1150px;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 70px;
}

.bomTable th,
.bomTable td {
    border: 1px solid;
    text-align: center;
}

.bomTable th {
    background-color: #D9D9D9;
}

/* 특이사항쪽 */
.footName {
    margin-left: 130px;
    margin-top: 20px;
}

.etc {
    width: 1145px;
    height: 140px;
    margin-top: 30px;
    margin-left: 130px;
}

.createButton {
    float: right;
    margin-top: 10px;
    margin-right: 150px;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: background-color 0.3sease, transform 0.2sease;
}

.createButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* 클릭 시 효과 */
.createButton:active {
    background-color: #3e8e41;
    transform: scale(0.95);
}

.planInfoName {
    display: flex;
}

.planSelect {
    height: 25px;
}

.planH3 {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 130px;
}